.portfolio-list {
  &-one {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 40px;

    @media screen and (min-width: 768px) {
      justify-content: center;
    }
  }

  &-buttons:not(:last-child) {
    margin-right: 8px;
  }

  &-buttons:nth-child(3) {
    @media screen and (max-width: 767px) {
      margin-right: 0;
    }
  }

  &-buttons:first-child {
    @media screen and (max-width: 767px) {
      margin-bottom: 15px;
    }
  }
}

.portfolio-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: $secondary-color;
  background: $background-main-color;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 22px;
  max-height: 38px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $color-theme-color;
    background: $accent-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

// .portfolio-list {
//   &-one {
//     display: flex;
//     justify-content: center;
//     margin-bottom: 50px;
//     padding-top: 94px;
//   }

//   &-buttons:not(:last-child) {
//     margin-right: 8px;
//   }
// }

// .portfolio-button {
//   font-weight: 500;
//   font-size: 16px;
//   line-height: 1.625;
//   text-align: center;
//   letter-spacing: 0.03em;
//   color: $secondary-color;
//   background: $background-main-color;
//   border: none;
//   border-radius: 4px;
//   cursor: pointer;
//   padding: 6px 22px;
//   max-height: 38px;
//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
//     background 250ms cubic-bezier(0.4, 0, 0.2, 1),
//     box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//     color: $color-theme-color;
//     background: $accent-color;
//     box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
//       0px 2px 2px rgba(0, 0, 0, 0.12);
//   }
// }
