.portfolio-list {
  &-two {
    display: flex;
    flex-wrap: wrap;
  }

  &-items:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  &-items:nth-child(-n + 7) {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-bottom: 30px;
    }
  }

  &-items:not(:nth-child(2n)) {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-right: 30px;
    }
  }

  &-items:last-child {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-right: 0;
    }
  }

  &-items:not(:nth-child(3n)) {
    @media screen and (min-width: 1200px) {
      margin-right: 30px;
    }
  }

  &-items:nth-child(-n + 6) {
    @media screen and (min-width: 1200px) {
      margin-bottom: 30px;
    }
  }

  &-img {
    @media screen and (max-width: 479px) {
      width: 100%;
    }
  }

  &-content {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
    border-top: none;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: 354px;
    }

    @media screen and (min-width: 1200px) {
      width: 370px;
    }
  }

  &-overlay {
    width: 100%;
    height: 100%;
    background: rgba(33, 150, 243, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .portfolio-item-link:hover &,
    .portfolio-item-link:focus & {
      transform: translateY(0%);
    }
  }

  &-discription {
    width: 402px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.566;
    letter-spacing: 0.03em;
    color: $color-theme-color;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: 306px;
    }

    @media screen and (min-width: 1200px) {
      width: 322px;
    }
  }

  &-subtitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $secondary-color;
    margin-bottom: 4px;
  }

  &-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: $main-color;
  }
}

.portfolio-item {
  &-link {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }

  &-box {
    position: relative;
    overflow: hidden;
  }
}
