  $main-font: "Roboto", sans-serif;
  $secondary-font: "Raleway", sans-serif;
  $main-color: #757575;
  $secondary-color: #212121;
  $accent-color: #2196f3;
  $color-theme-color: #fff;
  $svg-main-color: #afb1b8;
  $background-main-color: #f5f4fa;
